# 
# WARNING: this file must be kept bash friendly
# 
# 
# 
# [SCRIPT CONFIG]
addons_directory="/home/odoo/addons/10.0"
output_directory="/home/odoo/temp"
os_user="odoo"
DEBUG=1
INTERACTIVE=1
# 
# 
# [GENERAL]
language="fr_FR"
timezone="Europe/Paris"
# 
# 
# [DATABASE]
db_host="127.0.0.1"
db_name="myDB"
db_username="odoo"
db_password="bonjour"
db_local="1"
# 
# 
# [ODOO]
odoopy_path="/usr/bin"
odoo_config="/home/odoo/etc/odoo_v10.conf"
odoo_host="127.0.0.1"
odoo_username="someuser@monodoo.com"
odoo_password="Password"
odoo_port="8069"
# 
# [DOLIBARR]
dolibarr_user="root"
dolibarr_pwd="bonjour"
dolibarr_host="127.0.0.1"
dolibarr_db="dolibarr"
# 
#
# [DOLIBARR2ODOO]
processors="dataprocessors.contact,dataprocessors.bank_account,dataprocessors.bank_statement"